:root {
  --border-color: #666;
  --bg-color: #4b9ec1;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}

.edging {
  width: 600px;
  height: 800px;
  background: var(--bg-color);
  border: 30px solid var(--border-color);
  position: relative;
  overflow: hidden;
  justify-content: center;
}
.bottomLine{
  width: 80%;
  left: 20%;
  position: absolute;
  bottom: 38px;
  height: 2px;
  background: #000;
}